<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand">ECG</a>
    <ul class="nav navbar-nav">
      <li>
        <a><span class="glyphicon glyphicon-plus"></span> 新建病例</a>
      </li>
      <li>
        <a><span class="glyphicon glyphicon-equalizer"></span> 学术研究</a>
      </li>
    </ul>
    <div class="personal dropdown pull-right">
      <a class="avator dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="navbarDrop1">
        <span class="glyphicon glyphicon-user"></span>
        <span>动态血压</span>
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDrop1">
        <li><a href="#">欢迎您！</a></li>
        <li role="separator" class="divider"></li>
        <li><a><span class="glyphicon glyphicon-cog"></span> 设置中心</a></li>
        <li><a><span class="glyphicon glyphicon-off"></span> 退出登录</a></li>
      </ul>
    </div>
  </div>
</nav>